In this project, a kNN (k-nearest neighbor) recommender engine is built to make predictions regarding food.

**Given a food data set, what are the k most similar foods based on the query?**

### Experiment 1

In [1]:
# Importing packages
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

The implementation assumes that all columns contain numerical data.

In [4]:
#loading dataset
df=pd.read_csv("./Food Dataset - Sheet1.csv",index_col='Food ID')

In [5]:
df

               Food Name  Rating User Region
Food ID
1                   Poha       3       North
2          Kadhai Paneer       4       North
3                Mix Veg       4       North
4           Aloo Paratha       2       North
5          Gobhi Paratha       4       North
...                  ...     ...         ...
81          Zunka Bhakri       3        West
82           Bombay Duck       3        West
83       Methi ka Thepla       4        West
84       Gatte Ki Sabzi        3        West
85             Laal Maas       2        West

[85 rows x 3 columns]

In [6]:
one_hot = pd.get_dummies(df['User Region'])

In [7]:
one_hot

         East  North  South  West
Food ID
1           0      1      0     0
2           0      1      0     0
3           0      1      0     0
4           0      1      0     0
5           0      1      0     0
...       ...    ...    ...   ...
81          0      0      0     1
82          0      0      0     1
83          0      0      0     1
84          0      0      0     1
85          0      0      0     1

[85 rows x 4 columns]

In [11]:
df = df.join(one_hot)

ValueError: columns overlap but no suffix specified: Index(['East', 'North', 'South', 'West'], dtype='object')

In [12]:
df

               Food Name  Rating User Region  East  North  South  West
Food ID
1                   Poha       3       North     0      1      0     0
2          Kadhai Paneer       4       North     0      1      0     0
3                Mix Veg       4       North     0      1      0     0
4           Aloo Paratha       2       North     0      1      0     0
5          Gobhi Paratha       4       North     0      1      0     0
...                  ...     ...         ...   ...    ...    ...   ...
81          Zunka Bhakri       3        West     0      0      0     1
82           Bombay Duck       3        West     0      0      0     1
83       Methi ka Thepla       4        West     0      0      0     1
84       Gatte Ki Sabzi        3        West     0      0      0     1
85             Laal Maas       2        West     0      0      0     1

[85 rows x 7 columns]

In [13]:
df = df.drop('User Region',axis = 1)

In [14]:
df

               Food Name  Rating  East  North  South  West
Food ID
1                   Poha       3     0      1      0     0
2          Kadhai Paneer       4     0      1      0     0
3                Mix Veg       4     0      1      0     0
4           Aloo Paratha       2     0      1      0     0
5          Gobhi Paratha       4     0      1      0     0
...                  ...     ...   ...    ...    ...   ...
81          Zunka Bhakri       3     0      0      0     1
82           Bombay Duck       3     0      0      0     1
83       Methi ka Thepla       4     0      0      0     1
84       Gatte Ki Sabzi        3     0      0      0     1
85             Laal Maas       2     0      0      0     1

[85 rows x 6 columns]

In [15]:
# Adding The Post data
post_data = {'Rating':[4], 'East':1, 'West':0, 'South':0, 'North':0}
the_post = pd.DataFrame(data=post_data, index=None)

In [16]:
# Selecting feature variables 
feature_cols = df.drop(['Food Name'], axis=1)
X = feature_cols

In [17]:
# Using NearestNeighbors model and kneighbors() method to find k neighbors.
# Setting n_neighbors = 5 to find 5 similar movies 
# Using brute force due to small sample size (30) and few dimensions (11)

neigh = NearestNeighbors(n_neighbors=10, algorithm='brute')
neigh.fit(X)
distances, indices = neigh.kneighbors(the_post)

C:\Users\tanis\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [18]:
# Printing the top 5 food items.

print('Recommendations according "Query":\n')
for i in range(len(distances.flatten())):
  print('{0}: {1}, with a distance of {2}.'.format(i+1, df['Food Name'].iloc[indices.flatten()[i]],distances.flatten()[i]))

Recommendations according "Query":

1: Veg Manchurian, with a distance of 0.0.
2: Dalma, with a distance of 0.0.
3: Puri Sabzi, with a distance of 0.0.
4: Raw banana gravy sabji, with a distance of 1.0.
5: Litti Chokha, with a distance of 1.0.
6: Thukpa, with a distance of 1.0.
7: Veg chowmein, with a distance of 1.0.
8: Machcher Jhol, with a distance of 1.0.
9: Jalfrezi, with a distance of 1.0.
10: Chicken Manchurian, with a distance of 1.0.

### Experiment 2

In [19]:
# Importing packages
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [21]:
#loading dataset
food2=pd.read_csv("./FoodDataset2.csv",index_col='Food ID')

In [22]:
food2

               Food Name  Rating Food Region Food Type
Food ID
1                   Poha       3       North  Sautéing
2          Kadhai Paneer       2       North  Sautéing
3                Mix Veg       3       North  Sautéing
4           Aloo Paratha       4       North   Searing
5          Gobhi Paratha       1       North   Searing
...                  ...     ...         ...       ...
81          Zunka Bhakri       1        West   Searing
82           Bombay Duck       4        West   Searing
83       Methi ka Thepla       5        West   Searing
84       Gatte Ki Sabzi        3        West  Sautéing
85             Laal Maas       3        West  Sautéing

[85 rows x 4 columns]

In [23]:
one_hot_region = pd.get_dummies(food2['Food Region'])
one_hot_region

         East  North  South  West
Food ID
1           0      1      0     0
2           0      1      0     0
3           0      1      0     0
4           0      1      0     0
5           0      1      0     0
...       ...    ...    ...   ...
81          0      0      0     1
82          0      0      0     1
83          0      0      0     1
84          0      0      0     1
85          0      0      0     1

[85 rows x 4 columns]

In [24]:
one_hot_foodtype = pd.get_dummies(food2['Food Type'])
one_hot_foodtype

         Baking  Broiling  Frying  Grilling  Roasting  Sautéing  Searing
Food ID
1             0         0       0         0         0         1        0
2             0         0       0         0         0         1        0
3             0         0       0         0         0         1        0
4             0         0       0         0         0         0        1
5             0         0       0         0         0         0        1
...         ...       ...     ...       ...       ...       ...      ...
81            0         0       0         0         0         0        1
82            0         0       0         0         0         0        1
83            0         0       0         0         0         0        1
84            0         0       0         0         0         1        0
85            0         0       0         0         0         1        0

[85 rows x 7 columns]

In [25]:
food2 = food2.join(one_hot_foodtype)

In [26]:
food2

,Food Name,Rating,Food Region,Food Type,Baking,Broiling,Frying,Grilling,Roasting,Sautéing,Searing
Food ID,,,,,,,,,,,
1,Poha,3,North,Sautéing,0,0,0,0,0,1,0
2,Kadhai Paneer,2,North,Sautéing,0,0,0,0,0,1,0
3,Mix Veg,3,North,Sautéing,0,0,0,0,0,1,0
4,Aloo Paratha,4,North,Searing,0,0,0,0,0,0,1
5,Gobhi Paratha,1,North,Searing,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
81,Zunka Bhakri,1,West,Searing,0,0,0,0,0,0,1
82,Bombay Duck,4,West,Searing,0,0,0,0,0,0,1
83,Methi ka Thepla,5,West,Searing,0,0,0,0,0,0,1
84,Gatte Ki Sabzi,3,West,Sautéing,0,0,0,0,0,1,0
85,Laal Maas,3,West,Sautéing,0,0,0,0,0,1,0

In [27]:
food2 = food2.join(one_hot_region)

In [28]:
food2

,Food Name,Rating,Food Region,Food Type,Baking,Broiling,Frying,Grilling,Roasting,Sautéing,Searing,East,North,South,West
Food ID,,,,,,,,,,,,,,,
1,Poha,3,North,Sautéing,0,0,0,0,0,1,0,0,1,0,0
2,Kadhai Paneer,2,North,Sautéing,0,0,0,0,0,1,0,0,1,0,0
3,Mix Veg,3,North,Sautéing,0,0,0,0,0,1,0,0,1,0,0
4,Aloo Paratha,4,North,Searing,0,0,0,0,0,0,1,0,1,0,0
5,Gobhi Paratha,1,North,Searing,0,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Zunka Bhakri,1,West,Searing,0,0,0,0,0,0,1,0,0,0,1
82,Bombay Duck,4,West,Searing,0,0,0,0,0,0,1,0,0,0,1
83,Methi ka Thepla,5,West,Searing,0,0,0,0,0,0,1,0,0,0,1
84,Gatte Ki Sabzi,3,West,Sautéing,0,0,0,0,0,1,0,0,0,0,1
85,Laal Maas,3,West,Sautéing,0,0,0,0,0,1,0,0,0,0,1

In [29]:
food2 = food2.drop(['Food Region','Food Type'],axis = 1)

In [30]:
food2

,Food Name,Rating,Baking,Broiling,Frying,Grilling,Roasting,Sautéing,Searing,East,North,South,West
Food ID,,,,,,,,,,,,,
1,Poha,3,0,0,0,0,0,1,0,0,1,0,0
2,Kadhai Paneer,2,0,0,0,0,0,1,0,0,1,0,0
3,Mix Veg,3,0,0,0,0,0,1,0,0,1,0,0
4,Aloo Paratha,4,0,0,0,0,0,0,1,0,1,0,0
5,Gobhi Paratha,1,0,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Zunka Bhakri,1,0,0,0,0,0,0,1,0,0,0,1
82,Bombay Duck,4,0,0,0,0,0,0,1,0,0,0,1
83,Methi ka Thepla,5,0,0,0,0,0,0,1,0,0,0,1
84,Gatte Ki Sabzi,3,0,0,0,0,0,1,0,0,0,0,1
85,Laal Maas,3,0,0,0,0,0,1,0,0,0,0,1

In [31]:
# Adding The Post data: Query
post_data = {'Rating':[7],'East':1, 'West':0, 'South':0, 'North':0, 'Baking':0,'Broiling':1,'Frying':0,'Grilling':1,
             'Roasting':1,'Sautéing':1,'Searing':0}
the_post = pd.DataFrame(data=post_data, index=None)

In [32]:
# Selecting feature variables 
feature_cols = food2.drop(['Food Name'], axis=1)
X = feature_cols

In [33]:
X

,Rating,Baking,Broiling,Frying,Grilling,Roasting,Sautéing,Searing,East,North,South,West
Food ID,,,,,,,,,,,,
1,3,0,0,0,0,0,1,0,0,1,0,0
2,2,0,0,0,0,0,1,0,0,1,0,0
3,3,0,0,0,0,0,1,0,0,1,0,0
4,4,0,0,0,0,0,0,1,0,1,0,0
5,1,0,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
81,1,0,0,0,0,0,0,1,0,0,0,1
82,4,0,0,0,0,0,0,1,0,0,0,1
83,5,0,0,0,0,0,0,1,0,0,0,1
84,3,0,0,0,0,0,1,0,0,0,0,1
85,3,0,0,0,0,0,1,0,0,0,0,1

In [34]:
# Using NearestNeighbors model and kneighbors() method to find k neighbors.
# Setting n_neighbors = 5 to find 5 similar movies 
# Using brute force due to small sample size (30) and few dimensions (11)

neigh = NearestNeighbors(n_neighbors=10)#, algorithm='brute')
neigh.fit(X)
distances, indices = neigh.kneighbors(the_post)

C:\Users\tanis\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [35]:
# Printing the top 5 movie recommendations:

print('Recommendations for "Query":\n')
for i in range(len(distances.flatten())):
    print('{0}: {1}, with a distance of {2}.'.format(i+1, food2['Food Name'].iloc[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for "Query":

1: Jalfrezi, with a distance of 2.6457513110645907.
2: Dal Makhani, with a distance of 2.6457513110645907.
3: Litti Chokha, with a distance of 3.0.
4: Veg Biryani, with a distance of 3.0.
5: Aloo Gazar Matar sabji, with a distance of 3.0.
6: Masoor Dal, with a distance of 3.0.
7: Aloo Gobhi, with a distance of 3.0.
8: Manipuri Kelli Chana, with a distance of 3.0.
9: Chicken Tikka Masala, with a distance of 3.0.
10: Plain Dosa, with a distance of 3.0.